Repository UltimateCodeMonkeys/CodeMonkeys, pull requests merged in 2020-05, with the labels that each got.

#88 Merge enhancement/visual-studio-project-filter into develop
  CodeMonkeysMVVM-Framework-Only.slnf
Labels: Type: Enhancement

#91 Merge enhancement/make-dryioc-types-internal into develop
  src/DependencyInjection/DependencyInjection.DryIoC/DependencyInjection.DryIoC.csproj
Labels: Type: Enhancement, Type: Maintenance

#92 Merge bugfix/closeasync-throwing-exceptions into develop
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.close.cs
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.cs
Labels: Navigation.Forms, Priority: High, Type: Bug

#96 Merge feature/implement-rolling-file-logger into develop
  .gitignore
  CodeMonkeysMVVM.sln
  src/Core/Guards/Argument/Argument.Number.cs
  src/Core/Guards/Property/Property.Number.cs
  src/Logging/Logging.File/FileLogOptions.cs
  src/Logging/Logging.File/FileLogServiceProvider.cs
Labels: Logging, Status: Review Needed, Type: Enhancement, Type: Maintenance

#98 Merge feature/wpf navigation into develop
  CodeMonkeysMVVM-Framework-Only.slnf
  CodeMonkeysMVVM.sln
  samples/ViewModels/ItemDetailsViewModel.cs
  samples/Xamarin.Forms/MasterDetail/MasterDetailSample/MasterDetailSample.Android/MasterDetailSample.Android.csproj
  samples/Xamarin.Forms/MasterDetail/MasterDetailSample/MasterDetailSample/MasterDetailSample.csproj
  samples/Xamarin.Forms/TabbedSample/TabbedSample.Android/TabbedSample.Android.csproj
  samples/Xamarin.Forms/TabbedSample/TabbedSample/TabbedSample.csproj
  src/Core/Navigation/INavigationRegistration.cs
  src/Core/Navigation/INavigationService.cs
  src/Navigation/Navigation.Xamarin.Forms/Models/Configuration.cs
  src/Navigation/Navigation.Xamarin.Forms/Models/NavigationServiceOptions.cs
  src/Navigation/Navigation.Xamarin.Forms/Models/Registration/NavigationRegistration.cs
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.cache.cs
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.close.cs
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.cs
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.registration.cs
  src/Navigation/Navigation.Xamarin.Forms/Service/NavigationService.show.cs
  src/Navigation/Navigation/Navigation.csproj
  src/Navigation/Navigation/NavigationServiceOptionsBase.cs
  src/Navigation/WPF/Navigation.WPF.Interfaces/INavigationService.cs
  src/Navigation/WPF/Navigation.WPF/Models/Configuration.cs
  src/Navigation/WPF/Navigation.WPF/Models/NavigationServiceOptions.cs
  src/Navigation/WPF/Navigation.WPF/Models/RegistrationInfo.cs
  src/Navigation/WPF/Navigation.WPF/Navigation.WPF.csproj
  src/Navigation/WPF/Navigation.WPF/NavigationServiceExtensions.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.cache.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.close.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.registration.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.show.cs
  src/tests/UnitTests/Navigation/ViewModels/MainViewModel.cs
  src/tests/UnitTests/Navigation/ViewModels/ParameterViewModel.cs
  src/tests/UnitTests/Navigation/ViewModels/SecondViewModel.cs
  src/tests/UnitTests/Navigation/WPF/NavigationServiceTests.close.cs
  src/tests/UnitTests/Navigation/WPF/NavigationServiceTests.cs
  src/tests/UnitTests/Navigation/WPF/NavigationServiceTests.registration.cs
  src/tests/UnitTests/Navigation/WPF/NavigationServiceTests.show.cs
  src/tests/UnitTests/Navigation/WPF/Views/MainPage.cs
  src/tests/UnitTests/Navigation/WPF/Views/ParameterPage.cs
  src/tests/UnitTests/Navigation/WPF/Views/SecondPage.cs
  src/tests/UnitTests/UnitTests.csproj
Labels: Navigation.WPF, Priority: High, Type: Enhancement, Type: Maintenance
