Repository UltimateCodeMonkeys/CodeMonkeys, pull requests merged in 2020-06, with the labels that each got.

#103 Merge maintenance/remove-the-need-of-fields-for-option-properties into develop
  src/Core/Configuration/Options.cs
  src/Core/Core.csproj
  src/Core/PropertyBag.cs
  src/Dialogs/Dialogs/DialogOptions.cs
  src/Logging/Logging.Batching/BatchingLogOptions.cs
  src/Logging/Logging.Console/ConsoleLogOptions.cs
  src/Logging/Logging.File/FileLogOptions.cs
  src/Logging/Logging/Configuration/LogOptions.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.get.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.set.cs
  src/Messaging/Configuration/SubscriptionManagerOptions.cs
  src/tests/UnitTests/Configuration/MockOptions.cs
Labels: Type: Maintenance

#126 added attribute to tag properties that should update command canexecute
  samples/ViewModels/ItemViewModel.cs
  samples/ViewModels/ItemsViewModel.cs
  samples/WPF/SimpleNavigation/ItemsView.xaml
  samples/WPF/SimpleNavigation/MainWindow.xaml
  src/MVVM/Attributes/IsRelevantForCommand.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.get.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.propertyChanged.cs
  src/MVVM/PropertyChanged/BindingBase/BindingBase.set.cs
  src/MVVM/PropertyChanged/BindingBase/CommandRelevantPropertyWrapper.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.registration.cs
Labels: Bugfix, MVVM, Priority: Medium, Type: Enhancement

#130 Merge release/2.1.0 into develop
  src/Core/Core.csproj
  src/DependencyInjection/DependencyInjection.DryIoC/DependencyInjection.DryIoC.csproj
  src/DependencyInjection/DependencyInjection.Ninject/DependencyInjection.Ninject.csproj
  src/DependencyInjection/DependencyInjection/DependencyInjection.csproj
  src/Dialogs/Dialogs.Xamarin.Forms/Dialogs.Xamarin.Forms.csproj
  src/Dialogs/Dialogs/Dialogs.csproj
  src/Logging/Logging.Batching/Logging.Batching.csproj
  src/Logging/Logging.Console/Logging.Console.csproj
  src/Logging/Logging.Debug/Logging.Debug.csproj
  src/Logging/Logging.File/Logging.File.csproj
  src/Logging/Logging/Logging.csproj
  src/MVVM/MVVM.csproj
  src/Messaging/Messaging.csproj
  src/Navigation/Navigation.Xamarin.Forms/Models/NavigationServiceOptions.cs
  src/Navigation/Navigation/Navigation.csproj
  src/Navigation/WPF/Navigation.WPF.Interfaces/Navigation.WPF.Interfaces.csproj
  src/Navigation/WPF/Navigation.WPF/Navigation.WPF.csproj
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms.Interfaces/Navigation.Xamarin.Forms.Interfaces.csproj
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms/Navigation.Xamarin.Forms.csproj
Labels: Breaking Changes, Type: Enhancement, Type: Maintenance

#131 Make current master to current develop branch
  .github/workflows/publish-nuget.yml
  CodeMonkeysMVVM.sln
  src/Core/Core.csproj
  src/DependencyInjection/DependencyInjection.DryIoC/DependencyInjection.DryIoC.csproj
  src/DependencyInjection/DependencyInjection.Ninject/DependencyInjection.Ninject.csproj
  src/DependencyInjection/DependencyInjection/DependencyInjection.csproj
  src/Dialogs/Dialogs.Xamarin.Forms/Dialogs.Xamarin.Forms.csproj
  src/Dialogs/Dialogs/Dialogs.csproj
  src/Logging/Logging.Batching/Logging.Batching.csproj
  src/Logging/Logging.Console/Logging.Console.csproj
  src/Logging/Logging.Debug/Logging.Debug.csproj
  src/Logging/Logging.File/Logging.File.csproj
  src/Logging/Logging/Logging.csproj
  src/MVVM/MVVM.csproj
  src/Messaging/Messaging.csproj
  src/Navigation/Navigation/Navigation.csproj
  src/Navigation/Navigation/NavigationServiceOptionsBase.cs
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms/Navigation.Xamarin.Forms.csproj
Labels: DevOps

#132 Merge bugfix/wpf-back-and-forward-navigation-not-bindable into develop
  src/Navigation/WPF/Navigation.WPF.Interfaces/INavigationService.cs
  src/Navigation/WPF/Navigation.WPF.Interfaces/Navigation.WPF.Interfaces.csproj
  src/Navigation/WPF/Navigation.WPF/Navigation.WPF.csproj
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.close.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.show.cs
Labels: Bugfix, Navigation.WPF, Type: Enhancement

#134 Merge feature/log-calling-method-name into develop
  CodeMonkeysMVVM.sln
  src/Core/Logging/Extensions/ILogServiceExtensions.Critical.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Debug.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Error.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Info.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Internal.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Trace.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Warning.cs
  src/Core/Logging/ILogServiceBase.cs
  src/Core/Logging/ILogServiceExtensions.cs
  src/Logging/Logging/LogMessage.cs
  src/Logging/Logging/LogMessageFormatter.cs
  src/Logging/Logging/LogOptions.cs
  src/Logging/Logging/LogService.cs
  src/Logging/Logging/ScopedLogService.cs
Labels: Breaking Changes, Logging, Type: Enhancement

#137 Merge feature/viewmodelfactory-non-generic-methods into develop
  src/MVVM/Factories/ViewModelFactory.cs
Labels: MVVM, Type: Enhancement

#139 Merge Release 2.1.2 into master
  CodeMonkeysMVVM.sln
  samples/ViewModels/MainViewModel.cs
  samples/Xamarin.Forms/MasterDetail/MasterDetailSample/MasterDetailSample/App.xaml.cs
  src/Core/Core.csproj
  src/Core/Logging/Extensions/ILogServiceExtensions.Critical.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Debug.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Error.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Info.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Internal.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Trace.cs
  src/Core/Logging/Extensions/ILogServiceExtensions.Warning.cs
  src/Core/Logging/ILogServiceBase.cs
  src/Core/Logging/ILogServiceExtensions.cs
  src/Core/MVVM/IViewModel.cs
  src/Core/MVVM/IViewModelT.cs
  src/DependencyInjection/DependencyInjection.DryIoC/DependencyInjection.DryIoC.csproj
  src/DependencyInjection/DependencyInjection.Ninject/DependencyInjection.Ninject.csproj
  src/DependencyInjection/DependencyInjection/DependencyInjection.csproj
  src/Dialogs/Dialogs.Xamarin.Forms/Dialogs.Xamarin.Forms.csproj
  src/Dialogs/Dialogs/Dialogs.csproj
  src/Logging/Logging.Batching/Logging.Batching.csproj
  src/Logging/Logging.Console/Logging.Console.csproj
  src/Logging/Logging.Debug/Logging.Debug.csproj
  src/Logging/Logging.File/Logging.File.csproj
  src/Logging/Logging/LogMessage.cs
  src/Logging/Logging/LogMessageFormatter.cs
  src/Logging/Logging/LogOptions.cs
  src/Logging/Logging/LogService.cs
  src/Logging/Logging/Logging.csproj
  src/Logging/Logging/ScopedLogService.cs
  src/MVVM/Factories/ViewModelFactory.cs
  src/MVVM/MVVM.csproj
  src/MVVM/ViewModels/Navigation/ViewModelBase.cs
  src/MVVM/ViewModels/Navigation/ViewModelBaseHelper.cs
  src/Messaging/Messaging.csproj
  src/Navigation/Navigation/Navigation.csproj
  src/Navigation/WPF/Navigation.WPF.Interfaces/INavigationService.cs
  src/Navigation/WPF/Navigation.WPF.Interfaces/Navigation.WPF.Interfaces.csproj
  src/Navigation/WPF/Navigation.WPF/Navigation.WPF.csproj
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.close.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.registration.cs
  src/Navigation/WPF/Navigation.WPF/Service/NavigationService.show.cs
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms.Interfaces/INavigationService.cs
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms.Interfaces/Navigation.Xamarin.Forms.Interfaces.csproj
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms/Navigation.Xamarin.Forms.csproj
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms/Service/NavigationService.cache.cs
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms/Service/NavigationService.cs
  src/Navigation/Xamarin.Forms/Navigation.Xamarin.Forms/Service/NavigationService.registration.cs
  src/tests/UnitTests/Navigation/WPF/NavigationServiceTests.show.cs
Labels: DevOps
