Repository UltimateCodeMonkeys/CodeMonkeys, pull requests merged in 2021-02, with the labels that each got.

#175 Merge feature/reset-specific-model-property into develop
  src/MVVM/Models/ModelBase.cs
Labels: MVVM, Priority: Medium, Type: Enhancement

#186 Merge bugfix/invalid-log-file-name into develop
  src/Logging/Logging.Batching/BatchLogOptions.cs
  src/Logging/Logging.Batching/BatchLogService.cs
  src/Logging/Logging.File/FileLogOptions.cs
  src/Logging/Logging.File/FileLogService.cs
Labels: Breaking Changes, Bugfix

#187 Merge feature/use-streams-for-writing-logfiles into develop
  src/Logging/Logging.File/FileLogService.cs
Labels: Logging.File, Type: Enhancement
